@import "../../../../../Engine/Constant.less";

#modules-road-show
{
    padding: 10px;
    border: gray 3px solid;
    border-radius: 5px;

    table
    {
        width: 100%;
        text-align: left;
        border: gray 1px solid;

        td
        {
            vertical-align: top;
            border-top: gray 1px dashed;
        }

        th
        {
            border-top: gray 1px dashed;
        }

        p
        {
            margin: 0;
        }
    }

    .current-job
    {
        background-color: lightyellow;
        border: gray 1px solid;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .problem
    {
        border: gray 1px solid;
        float: left;
        padding: 5px;
        margin-right: 10px;
        background-color: #e7ffe0;
    }
}
