#modules-road-show {
  padding: 10px;
  border: gray 3px solid;
  border-radius: 5px;
}
#modules-road-show table {
  width: 100%;
  text-align: left;
}
#modules-road-show table td {
  vertical-align: top;
}
#modules-road-show table td.not-complete {
  color: red;
}
#modules-road-show table td.complete {
  color: green;
}
#modules-road-show table p {
  margin: 0;
}
