#modules-road-show
{
    padding: 10px;
    border: gray 3px solid;
    border-radius: 5px;

    table
    {
        width: 100%;
        text-align: left;

        td
        {
            vertical-align: top;

            &.not-complete
            {
                color: red;
            }

            &.complete
            {
                color: green;
            }
        }

        p
        {
            margin: 0;
        }
    }
}
